header{
    position: relative;
    margin-bottom: 10px;
}
.titulo{
    display: inline;
    margin-left: 30px;
}
nav {
    display: inline-block;
    position: sticky;
    right:  50px;
    position: absolute;
}
nav li{
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
nav li a{
    text-decoration: none;
    color: #000;
}
nav li:hover a{
    color: #c78c19;
    text-decoration: underline;

}
.img-barberia{
    width: 100%;
}
.info-intro{
    padding: 20px 50px;
    background-color: #ccc;
}
.subtitle{
    text-align: center;
}
p{
    text-align: center;
}
em strong{
    
    color: red;
}
.mision{
    font-size: 24px;    
}
h3{
    text-align: center;
}
.diferenciales-list{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    margin-left: 30px;
}   
.img-diferenciales{
    width: 50%
}