.titulo{
    margin-left: 30px;
}
.img-barberia{
    width: 100%;
}
.info-intro{
    padding: 20px 50px;
    background-color: #ccc;
}
.subtitle{
    text-align: center;
}
p{
    text-align: center;
}
em strong{
    
    color: red;
}
.mision{
    font-size: 24px;    
}
h3{
    text-align: center;
}
.diferenciales-list{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    margin-left: 30px;
}   
.img-diferenciales{
    width: 50%
}